                                    <div class="form-group row">
                                        <div class="col-md-4">
                                        <h6>Tambah kota</h6>
                                            <form id="tiketAdd" action="/sppd/pengaturan/biaya/tiket_jkt" method="POST">
                                                <input id="kabupaten" name="label" class="form-control" placeholder="Kota tujuan" required>
                                                <input name="harga_b" class="form-control" placeholder="Harga tiket bisnis" required>
                                                <input name="harga_e" class="form-control" placeholder="Harga tiket ekonomi" required>
                                                <button id="tambah_tiket" type="submit" class="btn btn-primary">Tambah</button>
                                            </form>   
                                        </div>                                     
                                    </div>
                                    <table id="tiket" class="table table-bordered">
                                        <thead>
                                            <col>
                                            <col>
                                            <colgroup span="2"></colgroup>
                                            <tr>
                                                <th width="20%" rowspan="2" class="text-center" style="vertical-align: middle">Kota</th>
                                                <th colspan="2" scope="colgroup" class="text-center">Pesawat (dari Jakarta)</th>
                                            </tr>
                                            <tr>
                                                <th width="10%" class="text-center">Bisnis</th>
                                                <th width="10%" class="text-center">Ekonomi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{#each kota}}             
                                            <tr name="{{name}}">
                                                <td>{{label}}</td>
                                                <td jenis="tiket_jkt_b" class="text-right">{{tiket_jkt_b}}</td>
                                                <td jenis="tiket_jkt_e" class="text-right">{{tiket_jkt_e}}</td>
                                            </tr>
                                        {{/each}}                                            
                                        </tbody>
                                    </table>